# 資料庫基礎&應用

- 講師有預先架設MySQL資料庫供大家練習，先以此資料庫進行學習

## MySQL 操作

- 如果你還沒有安裝 `PyMySQL` 可以先執行 `pip install PyMySQL`
- 在colab或是jupyter中可以新增一個cell程式，填入 `!pip install PyMySQL`

In [ ]:
!pip install PyMySQL

In [1]:
# add "+pymysql" in url for mysql module

#mysql_db_url = 'mysql+pymysql://username:password@your-db-url:port/dbname'
mysql_db_url = 'mysql+pymysql://root:ixnqjmysql@127.0.0.1:3306/test'

In [2]:
# 先裝 mysql的connection driver
# pip install PyMySQL

from sqlalchemy import create_engine

my_db = create_engine(mysql_db_url)

- Create

In [3]:
table_name = 'malo_test_1211'
sql_cmd_str = "CREATE TABLE IF NOT EXISTS %s(dtime varchar(20) PRIMARY KEY, temp float)" %(table_name)
resultProxy = my_db.execute(sql_cmd_str)
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1dc1e9d78b0>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1dc1d81ac70>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x1dc1d787ae0>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1dc1e9d73d0>,
 '_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x1dc1d7d9520>,
 'rowcount': 0,
 '_soft_closed': True}

- Insert

In [5]:
# 先試著產生資料

import datetime
import random

dt1 = datetime.datetime.strptime('2022-12-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(10):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    print(str_dt, temp)

2022-12-01 08:00:00 35.4
2022-12-02 08:00:00 37.1
2022-12-03 08:00:00 37.4
2022-12-04 08:00:00 35.7
2022-12-05 08:00:00 37.5
2022-12-06 08:00:00 35.8
2022-12-07 08:00:00 35.6
2022-12-08 08:00:00 36.2
2022-12-09 08:00:00 36.1
2022-12-10 08:00:00 35.7

In [6]:
# 做insert操作
import datetime
import random

dt1 = datetime.datetime.strptime('2022-12-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(10):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    #print(str_dt, temp)
    sql_cmd_str = "insert into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    resultProxy=my_db.execute(sql_cmd_str)

- Select

In [7]:
# select
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
for item in data:
    print(item)

-- data --
('2022-12-01 08:00:00', 35.6)
('2022-12-02 08:00:00', 37.0)
('2022-12-03 08:00:00', 36.0)
('2022-12-04 08:00:00', 37.3)
('2022-12-05 08:00:00', 35.9)
('2022-12-06 08:00:00', 35.1)
('2022-12-07 08:00:00', 36.1)
('2022-12-08 08:00:00', 35.1)
('2022-12-09 08:00:00', 36.0)
('2022-12-10 08:00:00', 35.3)

- 如果要修改、取代資料: upsert (insert or update)

In [8]:
# 做upsert操作，假設前二筆資料有需要修改
import datetime
import random

dt1 = datetime.datetime.strptime('2022-12-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(2):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    print(str_dt, temp)
    sql_cmd_str = "insert into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE temp='%s'" %(temp))
    resultProxy=my_db.execute(sql_cmd_str)

2022-12-01 08:00:00 36.3
2022-12-02 08:00:00 36.3

- Select

In [9]:
# select
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-12-01 08:00:00', 36.3), ('2022-12-02 08:00:00', 36.3), ('2022-12-03 08:00:00', 36.0), ('2022-12-04 08:00:00', 37.3), ('2022-12-05 08:00:00', 35.9), ('2022-12-06 08:00:00', 35.1), ('2022-12-07 08:00:00', 36.1), ('2022-12-08 08:00:00', 35.1), ('2022-12-09 08:00:00', 36.0), ('2022-12-10 08:00:00', 35.3)]

- 做upsert操作，新增二筆資料

In [10]:
# 做upsert操作，新增二筆資料

import datetime
import random

dt1 = datetime.datetime.strptime('2022-12-11 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(2):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    #print(str_dt, temp)
    sql_cmd_str = "insert into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE temp='%s'" %(temp))
    resultProxy=my_db.execute(sql_cmd_str)

- Select

In [11]:
# select
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-12-01 08:00:00', 36.3), ('2022-12-02 08:00:00', 36.3), ('2022-12-03 08:00:00', 36.0), ('2022-12-04 08:00:00', 37.3), ('2022-12-05 08:00:00', 35.9), ('2022-12-06 08:00:00', 35.1), ('2022-12-07 08:00:00', 36.1), ('2022-12-08 08:00:00', 35.1), ('2022-12-09 08:00:00', 36.0), ('2022-12-10 08:00:00', 35.3), ('2022-12-11 08:00:00', 36.2), ('2022-12-12 08:00:00', 35.2)]

In [12]:
# 直接使用upsert插入12筆資料

import datetime
import random

dt1 = datetime.datetime.strptime('2022-12-01 08:00:00','%Y-%m-%d %H:%M:%S') #把時間字串轉為datetime物件
for i in range(12):
    str_dt = (dt1+datetime.timedelta(days=i)).strftime('%Y-%m-%d %H:%M:%S')
    temp = random.randint(350, 375)/10
    #print(str_dt, temp)
    sql_cmd_str = "insert into %s (dtime, temp) values('%s', '%s')" %(table_name, str_dt, temp)
    sql_cmd_str = sql_cmd_str + (" ON DUPLICATE KEY UPDATE temp='%s'" %(temp))
    resultProxy=my_db.execute(sql_cmd_str)

----
### 選取資料，並加上條件

- Select: 有條件的

In [23]:
# select
sql_cmd_str = "select * from %s where temp>36" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-12-01 08:00:00', 36.6), ('2022-12-06 08:00:00', 37.0), ('2022-12-07 08:00:00', 36.7), ('2022-12-09 08:00:00', 36.1), ('2022-12-10 08:00:00', 37.1)]

- Delete

In [24]:
resultProxy=my_db.execute("delete from %s where dtime<'2022-12-05' " %(table_name) )

In [25]:
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x182fa185160>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x182fbedac70>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x182fbe47ae0>,
 'connection': <sqlalchemy.engine.base.Connection at 0x182fd096be0>,
 '_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x182fbe98520>,
 'rowcount': 4,
 '_soft_closed': True}

- Select

In [26]:
# select
sql_cmd_str = "select * from %s" %(table_name)
resultProxy=my_db.execute(sql_cmd_str)
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('2022-12-05 08:00:00', 35.2), ('2022-12-06 08:00:00', 37.0), ('2022-12-07 08:00:00', 36.7), ('2022-12-08 08:00:00', 35.8), ('2022-12-09 08:00:00', 36.1), ('2022-12-10 08:00:00', 37.1), ('2022-12-11 08:00:00', 35.2), ('2022-12-12 08:00:00', 35.7)]